/* font-icons */
@font-face {
    font-family: "Glyphicons Halflings";
    src: url(../../fonts/glyphicons-halflings-regular.eot);
    src: url(../../fonts/glyphicons-halflings-regular.eot?#iefix) format("embedded-opentype"),
        url(../../fonts/glyphicons-halflings-regular.woff2) format("woff2"),
        url(../../fonts/glyphicons-halflings-regular.woff) format("woff"),
        url(../../fonts/glyphicons-halflings-regular.ttf) format("truetype"),
        url(../../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular) format("svg");
}

body {
    color: var(--texto);
}

*:focus {
    outline: 0;
}
/* Header start */
header {
    width: 100%;
    height: 3em;
    display: flex;
    background-color: var(--secundaria);
    align-items: center;
    box-shadow: 0px 1px 3px 0px var(--destaque);
}
.conteudo-header {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.conteudo-header p {
    color: var(--preto);
    font-size: large;
    font-weight: 700;
}
.voltar {
    border: none;
    background: transparent;
    outline: none;
    position: absolute;
    left: 1em;
}
a {
    text-decoration: none;
}
.fa-arrow-left {
    color: var(--preto);
}
.titulo span{
    color: var(--preto);
    font-size: large;
    font-weight: bold;
}
span {
    padding: 10px 0 10px 0;
}
/* Header end */

/* form start */
form {
    margin: 0 auto;
    padding: 5px 25px;
    max-width: 350px;
    border-radius: 8px;

    display: flex;
    flex-direction: column;
}
form fieldset {
    margin-top: 10px;
    min-inline-size: auto;
    border: 0;
}
.image-profile {
    margin: 0 auto;
    max-width: 200px;
    display: flex;
    justify-content: center;
}
form fieldset label img {
    width: 200px;
    height: 170px;
    border-radius: var(--border-radius);
}
label {
    font-weight: bold;
}
#anexo-foto {
    visibility: hidden;
}
.svg {
    position: relative;
    bottom: 65px;
    right: 30px;
    width: 20px;
}

form .field {
    flex: 1;

    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}
form .field input[type="text"],
form .field input[type="email"],
form .field input[type="password"],
.pass-container {
    flex: 1;
    background: var(--input);
    border-radius: 8px;
    border: 0;
    padding: 5px 10px;
    font-size: 14px;
    color: var(--preto);
}
form .field input::placeholder {
    color: var(--border);
    font-size: 14px;
}
form .field label {
    font-size: 14px;
    margin-bottom: 4px;
}
form .dados {
    margin: 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fa-lock {
    margin-left: .3em;
    color: var(--border);
}

/* form end */

/* password container start */
.pass-container {
    display: flex;
    align-items: center;
    height: 27px;
    margin-top: 4px;
}
#label-senha {
    font-size: 14px;
}
.pass-container input {
    border: none;
    background: none;
    width: 80%;
}
#eye {
    padding: 1px;
    font-size: 15px;
}
.pass-container button {
    display: inline-block;
    color: var(--preto);
}
/* password container end */

/* eye icon start */
.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: "Glyphicons Halflings";
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    border: none;
    outline: none;
}
.glyphicon-eye-open:before {
    content: "\e105";
}
.glyphicon-eye-close:before {
    content: "\e106";
}
/* eye icon end */

/* Button config start */
.botao {
    width: 100%;
    height: 6vh;
    border: none;
    color: var(--secundaria);
    border-radius: 9px;
    font-size: 1em;
    font-weight: bold;
    margin: 0.5em 0;
}
.btn-blue {
    background-color: var(--principal);
}
.btn-blue:hover {
    background-color: var(--destaque);
}
.btn-red {
    background-color: #d62839;
    margin-bottom: 55px;
}
.btn-red:hover {
    background-color: #dd3748;
    margin-bottom: 55px;
}

/* Button config end */

/* Footer start */
footer {
    position: fixed;
    bottom: 0;
}

.menu-bar {
    width: 100vw;
    height: 3em;
    background-color: var(--secundaria);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 1px 0px 3px 0px var(--destaque);
}

.menu-option {
    align-content: center;
    flex-wrap: wrap;
}
.menu-option p {
    margin: 0 auto;
    font-size: smaller;
    color: var(--preto);
}

.icon-footer {
    display: flex;
    justify-content: center;
}

.itens-footer {
    display: flex;
    justify-content: center;
    color: var(--preto);
}
/* Footer end */
