:root{
    --border: #CCC;
    --principal:#4361EE;
    --destaque: #4788FF;
    --texto: #322153;
    --input: #F0F0F5;
    --background:#E5E5E5;
    --secundaria: #FAF8F9;
    --preto: #222222b3;
    --vermelho: #D62839;
  }