.endereco-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: var(--texto)!important;
  padding: 0 10px;
}
fieldset {
  margin-top: 50px;
  max-width: 400px;
  border: none;
}
fieldset img {
  width: 100%;
  height: 50vh;
  border-radius: var(--border-radius);
}
legend {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

legend h2 {
  font-size: 24px;
}

.field {
  flex: 1;
  width: 300px;
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
}

#submit {
  position: relative;
  bottom: 60px;
  margin: 0px auto;
  width: 60%;
  height: 36px;
  background: var(--principal);
  border-radius: 8px;
  color: var(--secundaria);
  font-weight: bold;
  font-size: 14px;
  border: 0;
  transition: background-color 0.2s;
  cursor: pointer;
}
#submit:hover {
  background: var(--destaque);
}