body {
    background-color: #f8f9fa;
}

*:focus {
    outline: none;
}

#menu-profile li {
    display: flex;
    justify-content: center;
    align-items: center;
}
#menu-profile p {
    font-size: 18px;
    margin-left: 0.8em;
}
.profile-icon {
    font-size: 20px;
}

.container-tooltip{
    display: flex;
}

.container-tooltip ul,
.container-tooltip li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.container-tooltip ul {
    display: flex;
    flex-direction: column;
}

#btn-perfil-rest{
    outline: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.tooltipMenu {
    min-height: 700px;
    width: 70px;
}
.clientes:hover {
    border-color: var(--principal);
}
.tooltipMenu ul li {
    color: var(--texto);
    padding: 10px 5px;
    font-family: sans-serif;
    font-size: 15px;
    width: 180px;
    height: 60px;
    background: var(--background);
}

.tooltipMenu ul li:hover {
    color: var(--destaque);
    cursor: pointer;
    font-weight: bold;
}
/**************************Tooltip ends*************************/

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltipMenu {
    visibility: hidden;
    position: absolute;
    z-index: 1;
}

ul li:hover .tooltipMenu {
    visibility: visible;
    cursor: pointer;
}

.bottomSide {
    margin-top: 15px;
    top: 100%;
    right: 150px;
}

.tooltipMenu::after {
    content: " ";
    position: absolute;
    border-width: 10px;
    border-style: solid;
}

.bottomSide.tooltipMenu::after {
    bottom: 100%;
    margin-left: 135px;
    border-color: transparent transparent var(--background) transparent;
}

.aqui a {
    text-decoration: none;
    color: var(--preto);
    margin-left: 0.8rem;
}
.aqui {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

p {
    font-family: var(--font);
    font-size: 14px;
}

a {
    text-decoration: none;
}

/*Inicio Main */
.content {
    position: relative;
    width: 100%;
    display: flex;
    margin-top: 3em;
}

.conteudo{
    max-width: 1440px;
    display: flex;
    flex-direction: row;
    margin-bottom: 2em;
}

.box-config-horario{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    width: 70vw;
    max-width: 1015px;
    height: 80vh;
    max-height: 608px;
}

.model-conteiner{
    max-width: 512px;
}

.modal-content-hour{
    width: 50vw;
    max-width: 512px;
    display: flex;
    justify-content: center;
}

.fieldset-hour{
    border: none;
}

.fieldset-hour label{
    color: var(--texto);
    font-size: large;
    font-weight: bolder;
}

.fieldset-hour span{
    color: var(--texto);
    font-weight: bolder;
    font-size: medium;
}

.fieldset-hour input{
    background-color: var(--input);
    border-radius: var(--border-radius);
    border: none;
    height: 2em;
    font-size: medium;
    text-align: center;
    color: var(--texto);
    font-weight: bold;
}

.box-conteudo{
    max-width: 512px;
}

.dados p{
    font-family: var(--font);
    color: var(--texto) !important;
    font-size: xx-large;
    font-weight: bolder;
    margin-bottom: 1em;
}

.field-hour{
    display: flex;
    align-items: center;
    margin: 1.5em 0em 1.5em  0em;
}

.select-horario{
    margin-left: 2em;
}

#total-vagas-horario{
    margin-left: 4em;
}

#total-pessoa-reserva{
    margin-left: 2.6em;;
}

#horario-de, #horario-ate{
    width: 7em;
    margin-right: .5em;
}

#submit-horario, #submit-mod-perfil, #submit-mod-pagamento{
    height: 2.1em;
    font-size: medium;
    font-weight: bolder;
    color: var(--secundaria);
    margin-top: 1.2em;
    cursor: pointer;
    width: 100%;
    padding: 5px 10px;
    background: var(--principal);
    border-radius: 8px;
    border: 0;
    cursor: pointer;
}

.box-horarios{
    display: flex;
    justify-content: center;
    align-content: flex-start;
    flex-wrap: wrap;
    width: 30vw;
    max-width: 432px;
    position: fixed;
    right: 0vw;
    background-color: transparent; 
    box-shadow: -3px -3px 9px -6px var(--preto);
    height: 100vh;
}

.box-horarios p{
    color: var(--texto);
}

.box-name-horario{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3em;
}

#name-horario{
    font-size: x-large;
    font-weight: bold;
}

.conteiner-horario{
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 1em;
    overflow: auto;
    max-height: 80vh;
}

.button-horario{
    background-color: transparent;
    border: none;
    outline: none;
    height: 4em;
    margin-bottom: 1em;
    max-width: 382px;
    cursor: pointer;
}

.button-horario:last-child{
    margin-bottom: 1em;
}

.box-horario-info{
    width: 25vw;
    display: flex;
    justify-content: center;
    height: 4em;
    border: 1px solid var(--border);
    border-radius: var(--border-radius);
    max-width: 382px;
    position: relative;
}

.col-horario{
    display: flex;
    align-items: center;
}

.icon-horario{
    margin-right: 1em;
}

.icon-clock{
    font-size: 2em;
    color: var(--destaque);
}

.icon-edit{
    font-size: 1.3em;
    color: var(--preto);
    position: absolute;
    right: .7em;
    top: .4em;
}

.hour-reserva{
    color: var(--texto);
    font-size: large;
    font-weight: bolder;
}

/*Modal*/
.modal-config-hour{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    background: var(--preto);
    z-index: 10;
    display: none;
    justify-content: center;
    align-items: center;
}

.modal-config-hour.mostrar{
    display: flex;
}

.modal-config{
    width: 60vw;
    height: 32em;
    max-width: 693px;
    padding: 2em;
    box-sizing: border-box;
    background: var(--secundaria);
    border-radius: var(--border-radius);
    position: relative;
}

.btn-fechar{
    position: absolute;
    background-color: transparent;
    border: transparent;
    outline: none;
    top: 0.5em;
    right: 1em;
    cursor: pointer;
}

.fa-times{
    color: var(--destaque);
    font-size: large;
}

.mostrar .modal-config{
    animation: modal-animation .5s;
}

.modal-config h3{
    display: flex;
    justify-content: center;
    color: var(--texto);
    font-weight: bolder;
    font-size: x-large;
    margin-bottom: .8em;
}

.hour-content-info{
    display: flex;
    justify-content: center;
    height: 4em;
    border: 1px solid var(--border);
    border-radius: var(--border-radius);
    max-width: 626px;
    position: relative;
}

.modal-hour p{
    font-size: x-large !important;
}

.form-content{
    display: flex;
    justify-content: center;
}

.modal-field{
    justify-content: center;
}

#total-vagas-horario-modal{
    margin-left: 4em;
}

#total-pessoa-reserva-modal{
    margin-left: 2.6em;;
}

#horario-de-modal{
    width: 7em;
    margin-right: .5em;
}
#horario-ate-modal{
    width: 7em;
    margin-left: .5em;
}

.btn-modal{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#submit-modal{
    width: 40vw;
    max-width: 455px;
    height: 2.5em;
    font-size: medium;
    font-weight: bolder;
    color: var(--secundaria);
    background-color: var(--destaque);
    margin-top: 1.2em;
    cursor: pointer;
}

#cancel-btn-modal{
    width: 40vw;
    max-width: 455px;
    height: 2.5em;
    font-size: medium;
    font-weight: bolder;
    color: var(--secundaria);
    background-color: #D62839;
    border: none;
    border-radius: var(--border-radius);
    margin-top: 1.2em;
    cursor: pointer;
}

#hour-reserva-modal{
    color: var(--texto);
    font-size: large;
    font-weight: bolder;
}
