body {
    background-color: #f8f9fa;
}

*:focus {
    outline: none;
}

#menu-profile li {
    display: flex;
    justify-content: center;
    align-items: center;
}
#menu-profile p {
    font-size: 18px;
    margin-left: 0.8em;
}
.profile-icon {
    font-size: 20px;
}

.container-tooltip ul,
.container-tooltip li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.container-tooltip ul {
    display: flex;
    flex-direction: column;
}

.tooltipMenu {
    min-height: 700px;
    width: 70px;
}
.clientes:hover {
    border-color: var(--principal);
}
.tooltipMenu ul li {
    color: var(--texto);
    padding: 10px 5px;
    font-family: sans-serif;
    font-size: 15px;
    width: 180px;
    height: 60px;
    background: var(--background);
}

.tooltipMenu ul li:hover {
    color: var(--destaque);
    cursor: pointer;
    font-weight: bold;
}
/**************************Tooltip ends*************************/

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltipMenu {
    visibility: hidden;
    position: absolute;
    z-index: 1;
}

ul li:hover .tooltipMenu {
    visibility: visible;
    cursor: pointer;
}

.bottomSide {
    margin-top: 15px;
    top: 100%;
    right: 150px;
}

.tooltipMenu::after {
    content: " ";
    position: absolute;
    border-width: 10px;
    border-style: solid;
}

.bottomSide.tooltipMenu::after {
    bottom: 100%;
    margin-left: 135px;
    border-color: transparent transparent var(--background) transparent;
}

.aqui a {
    text-decoration: none;
    color: var(--preto);
    margin-left: 0.8rem;
}
.aqui {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

p {
    font-family: var(--font);
    font-size: 14px;
}

a {
    text-decoration: none;
}

/*Inicio Main */
.content {
    position: relative;
    width: 100%;
    display: flex;
    margin-top: 3em;
}

.conteudo{
    display: flex;
    flex-direction: row;
    margin-bottom: 2em;
}

.box-config-horario{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 70vw;
    max-width: 960px;
}

.box-horarios{
    display: flex;
    justify-content: center;
    align-content: flex-start;
    flex-wrap: wrap;
    width: 30vw;
    max-width: 432px;
    position: fixed;
    right: 0vw;
    background-color: transparent; 
    box-shadow: -3px -3px 9px -6px var(--preto);
    height: 100vh;
}

.box-horarios p{
    color: var(--texto);
}

.box-name-horario{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3em;
}

#name-horario{
    font-size: x-large;
    font-weight: bold;
}

.conteiner-horario{
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 1em;
    overflow: auto;
    height: 80vh;
}

.button-horario{
    background-color: transparent;
    border: none;
    outline: none;
    height: 4em;
    margin-bottom: 1em;
    max-width: 382px;
    cursor: pointer;
}

.button-horario:last-child{
    margin-bottom: 1em;
}

.box-horario-info{
    width: 25vw;
    display: flex;
    justify-content: center;
    height: 4em;
    border: 1px solid var(--border);
    border-radius: var(--border-radius);
    max-width: 382px;
    position: relative;
}

.col-horario{
    display: flex;
    align-items: center;
}

.icon-horario{
    margin-right: 1em;
}

.icon-clock{
    font-size: 2em;
    color: var(--destaque);
}

.icon-edit{
    font-size: 1.3em;
    color: var(--preto);
    position: absolute;
    right: .7em;
    top: .4em;
}

#hour-reserva{
    font-size: large;
    font-weight: bolder;
}
